$hover-color: #43B1E6;
$text-color: #919191;
.header {
    box-sizing: border-box;
    display: flex;
    background-color: #fff;
    height: 78px; 
    border-bottom: 1px solid #dadada;
    padding: 19px 15px;
    overflow: hidden;
    font-family: 'Lato';
    font-size: 18px;
    .header-content {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
        color: $text-color;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    text-decoration: none;

    .nav-list-items {
        padding: 10px;
        a:link {
            color: $text-color;
            text-decoration: none;
        }
          
        a:visited {
            text-decoration: none;
        }
        a:hover {
            color: $hover-color;
        }  
        a:active {
            text-decoration: none;
        }

        svg {
            fill: $text-color;
            vertical-align: middle;
        }
    }

    #covid {
        color: $hover-color;
    }

    .nav-list-items:hover {
        color: $hover-color;
    }

    .nav-list-items:hover svg {
        fill: $hover-color;
    }
}

.header-left {
    display: flex;
    align-items: center;
    float: left;

    .logo {
        margin-right: 16px;
    }

    .nav-links {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

.dropdown-content {
    transition: all .12s ease;
    list-style: none;
    border-radius: 5px;
    border: 2px solid #dadada;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 10%);
    background-color: white;
    z-index: 10;
    position: absolute;
    display: none;
    width: 241px;
    font-size: 16px;
    font-family: 'Lato';
    text-align: left;

    ul {
        background-color: #fff;
        padding: 15px;
        width: 100%; 
    }
}

.dropdown-link {
    color: $text-color;
    padding: 10px 0 10px 28px;
}

.dropdown-content li:hover {
    border-radius: 5px;
    background-color: #fafafa;
    color: $hover-color;
    transition: all 50ms ease;
}


#product:hover .dropdown-content {display: block;}
#songs:hover .dropdown-content {display: block;}
#sounds:hover .dropdown-content {display: block;}
#more:hover .dropdown-content {display: block;}

.header-right {
    display: flex;
    align-items: center;
    float: right;
}