
.header {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 78px;
    display: flex;
    text-align: center;
    align-items: center;
}

.header-content {
    padding: 19px;
}