$text-color: #919191;

.sidebar {
    background-color: #FAFAFA;
    max-width: 33%;
    width: fit-content;
    font-family: 'Lato';
}

h3 {
    margin: 80px 85px 80px 75px;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    .num-val {
        color: $text-color;
    }
}

#account {
    margin-bottom: 8px;
}

.promo {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #dadada;
}

.subtotal {
    margin-top: 32px;
    margin-bottom: 8px;
}

.tax, .payment {
    padding-bottom: 32px;
    border-bottom: 1px solid #dadada;
}


.total {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #dadada;

    .total-val {
        color: black;
    }
}

.payment-change {
    color: #43B1E6;
}

.disclaimer {
    color: $text-color;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.place-order-btn {
    border-radius: 50px;
    background: #43B1E6;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    padding: 16px 64px 16px 64px;
    border: none;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 16px;
    width: 312px;
    cursor: pointer;
}

.place-order-btn:hover {
    border-color: #3996c3;
    background: #3996c3;
}

.order-terms {
    color: #B6B6B6;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 48px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 200px;
    a {
        color: #B6B6B6;
    }
}