.cart {
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Lato';
}

.column {
    float: left;
    max-width: 100%;
}

.cart-content {
    background-color: aqua;
    width: 705%;
    margin: 80px 30px 80px 45px;
}

.sidebar {
    width: 30%;
}

.cart-item {
    list-style: none;
    padding: 0px 14px 0px 14px;
}

.song-info {
    display: flex;
}

@media screen and (min-width: 768px) {
    .cart-item {
        display: grid;
        grid-template-columns: minmax(0, 4fr) minmax(0, 3fr) minmax(0, 3fr); 
        background-color: gray;   
    }
}