.saved-item {
    padding: 0px 14px 32px 14px;
    margin-top: 32px;
}

#saved-header {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
}

.saved-art {
    margin: 0 16px 0 0;
}

.add-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-cart-btn {
    background-color: transparent;
    border-radius: 50px;
    padding: 9px 24px;
    margin: 0 16px;
    border: 1px solid #919191;
    color: #919191;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
}

.add-cart-btn:hover {
    background-color: #DADADA;
}