@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$background: #fff;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  overflow-x: hidden; 
}

body {
  position: relative;
  min-width: fit-content;
  background-color: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100%;
}

@media screen and (max-width: 768px){
  .App {
    width: 100vw;
    height: 100vh;
  }
}