@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$background: #fff;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: fit-content;
  background-color: $background;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
}
